body {
  margin: 0;
  padding: 0;
  border: 0;
}

[class*="col-"] { float: left; }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 46%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.first-row { margin-top: 50px; }

.left { text-align: left; }

.right { text-align: right; }

.justify { text-align: justify; }

.row {
  width: 100%;
  display: inline-block;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) {
   background-color: rgb(211, 238, 236);
}

table {
  border-collapse: collapse;
  margin: 15px;
  width: 95%;
}

.area {
  background-color: rgb(211, 238, 236);
}

.tb {
  overflow-x: scroll;
}

.inf {
  height: 925px;
  overflow-y: auto;
}

.scr {
  height: 300px;
  overflow-y: auto;
}



.center {
  text-align: center;
}

ul {
  list-style: none;
}

.hidden {
  display: none;
}

#space {
  margin-left: 25px;
}

.green {
  background-color: rgb(51, 167, 23);
}

.gray {
  background-color: rgb(175, 175, 175);
}
